.profileItem {
  background-color: var(--bg-grey-1);
  border-radius: 8px;
  flex: 0 1 max(100px, 24%);
  padding: 12px 8px 24px 8px;
  margin-bottom: 12px;
}

.profileItem__avatarContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.profileItem__avatar {
  height: 50px;
  border-radius: 50%;
}

.profileItem__login,
.profileItem__id {
  text-align: center;
}

.profileItem__login {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profileItem__buttonContainer {
  display: flex;
  justify-content: center;
}

.profileItem__button {
  background-color: var(--blue);
  cursor: pointer;
  border: none;
  padding: 8px 12px;
  margin-top: 12px;
}
